.feedback-div {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-evenly;
  margin: 50px 0;
  padding-top: 20px;
  width: 95vw;
}

.input-and-score {
  align-items: center;
  display: flex;
  width: 100%;
}

.email-input {
  border: 1px solid #94979d;
  font-size: 1rem;
  height: 35px;
  padding: 0 10px;
  width: 390px;
}

.stars {
  margin-left: 15px;
}

.star {
  width: 1000px;
}

.text-input {
  border: 1px solid #94979d;
  font-size: 1rem;
  height: 150px;
  margin-top: 10px;
  padding: 10px;
  width: 490px;
}

.submit-btn {
  align-items: center;
  background-color: #31c28d;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin: 10px auto;
  width: 250px;
}
